{# KilikTableBundle::_columnName.html.twig #}
{% set label = column.label %}
{% if column.translateDomain is not null %}
    {% set label = (column.label | trans({}, column.translateDomain)) %}
    {% if column.capitalize %}
        {% set label = label | capitalize %}
    {% endif %}
{% endif %}

{% if column.sortable %}
    <th class="columnSortable" data-column="{{ column.name }}" data-sort-column="{{ column.name }}">
        <a href="#">
            {{ label }}
        </a>
        <span class="glyphicon columnSortableIcon"></span>
    </th>
{% else %}
    <th data-column="{{ column.name }}">
        {{ label }}
    </th>
{% endif %}

