{# src/Kilik/TableBundle/Resources/views/_defaultTable.html.twig #}
{# @param Kilik\Components\Table table #}
{{ form_start(table.formView) }}
<table class="table table-responsive table-hover table-striped table-bordered">
    <thead>
        {% block tableHead %}
            <tr>
                {% block tableHeadStdColumns %}
                    {% for column in table.columns %}
                        {% if column.sortable %}
                            <th class="columnSortable" data-sort-column="{{ column.name }}">
                                <a href="#">
                                    {{ column.label }}
                                </a>
                                {# todo: tester si la colonne est triée #}
                                <span class="glyphicon glyphicon-sort columnSortableIcon"></span>
                            </th>
                        {% else %}
                            <th>
                                {{ column.label }}
                            </th>
                        {% endif %}
                    {% endfor %}
                {% endblock tableHeadStdColumns %}
            </tr>
            {% if table.columns|length > 0 %}
                <tr>
                    {% block tableHeadStdFilters %}
                        {% for column in table.columns %}
                            <td>
                                {% if column.filter is not null %}
                                    {{ form_widget(attribute(table.formView,column.filter.name ),{"attr": {"class": "form-control refreshOnKeyup"} }) }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    {% endblock tableHeadStdFilters %}
                </tr>
            {% endif %}
        {% endblock tableHead %}
    </thead>    
    <tbody id="{{ table.bodyId }}">
        {% block tableBody %}
            {% if rows is defined %}
                {% for row in rows %}
                    <tr>
                        {% block tableBodyStdColumns %}
                            {% for column in table.columns %}
                                <td>
                                    {% if column.name is not null %}
                                        {{ attribute(row,column.name) }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        {% endblock tableBodyStdColumns %}
                    </tr>
                {% endfor %}
            {% endif %}
        {% endblock tableBody %}
    </tbody>
    <tfoot id="{{ table.footId }}">
        {% block tableFoot %}
            {% if rows is defined %}
                <tr>
                    <td colspan="{{ table.columns|length }}">
                        {{ "table.showing_entries"|transchoice(table.filteredRows,{"%firstRow%": table.firstRow,"%lastRow%": table.lastRow,"%filteredRows%":table.filteredRows})|capitalize }}
                        {% if table.filteredRows != table.totalRows %}
                            ({{ "table.filtered_from"|trans({"%totalRows%":table.totalRows})|capitalize }})
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endblock tableFoot %}
    </tfoot>
</table>
{{ form_end(table.formView) }}
