{# KilikTableBundle::_defaultTable.html.twig #}

{# @param Kilik\Components\Table table #}
{{ form_start(table.formView) }}
{% block tableBeforePanel %}
{% endblock tableBeforePanel %}
<div class="panel panel-info">        
    <div class="panel-heading">        
        <div class="panel-title">
            {% block tablePagination %}
                <div id="{{ table.id }}_pagination" class="btn-group">
                    {% block tablePaginationAjax %}
                        {% include "KilikTableBundle::_paginationNumbersIcons.html.twig" %}
                    {% endblock tablePaginationAjax %}
                </div>
            {% endblock tablePagination %}
            {% block tableTitle %}
                Default title
            {% endblock tableTitle %}
        </div>
    </div>        
    <div class="panel-body">        
        <table class="table table-responsive table-hover table-striped table-bordered">
            <thead>
                {% block tableHead %}
                    <tr>
                        {% block tableHeadStdColumns %}
                            {% for column in table.columns %}
                                {% include "KilikTableBundle::_columnName.html.twig" %}
                            {% endfor %}
                        {% endblock tableHeadStdColumns %}
                    </tr>
                    {% if table.columns|length > 0 %}
                        <tr>
                            {% block tableHeadStdFilters %}
                                {% for column in table.columns %}
                                    {% include "KilikTableBundle::_columnFilter.html.twig" %}
                                {% endfor %}
                            {% endblock tableHeadStdFilters %}
                        </tr>
                    {% endif %}
                {% endblock tableHead %}
            </thead>    
            <tbody id="{{ table.bodyId }}">
                {% block tableBody %}
                    {% if tableRenderBody is defined %}
                        {% for row in rows %}
                            <tr>
                                {% block tableBodyStdColumns %}
                                    {% for column in table.columns %}
                                        {% include "KilikTableBundle::_columnCell.html.twig" %}
                                    {% endfor %}
                                {% endblock tableBodyStdColumns %}
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endblock tableBody %}
            </tbody>
        </table>
    </div>        
    <div class="panel-footer">        
        {% block tableStats %}
            <div id="{{ table.id }}_stats">
                {% block tableStatsAjax %}
                    {% include "KilikTableBundle::_stats.html.twig" %}
                {% endblock tableStatsAjax %}
            </div>
        {% endblock tableStats %}
    </div>        
</div>        
{% block tableAfterPanel %}
{% endblock tableAfterPanel %}
{{ form_end(table.formView) }}
