{# KilikTableBundle::_defaultTable.html.twig #}
{% use "KilikTableBundle::_blocks.html.twig" with
    tableHeadMassActionsColumn as parent_tableHeadMassActionsColumn,
    tableFilterMassActionsColumn as parent_tableFilterMassActionsColumn,
    tableBodyMassActionsColumn as parent_tableBodyMassActionsColumn
%}
{# @param Kilik\Components\Table table #}
{{ form_start(table.formView) }}
{% block tableBeforePanel %}
{% endblock tableBeforePanel %}
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">
            {% block tablePagination %}
                <div id="{{ table.id }}_pagination" class="btn-group">
                    {% block tablePaginationAjax %}
                        {% include "KilikTableBundle::_paginationNumbersIcons.html.twig" %}
                    {% endblock tablePaginationAjax %}
                </div>
            {% endblock tablePagination %}
            {% block tableTitle %}
                Default title
            {% endblock tableTitle %}
        </div>
    </div>
    <div class="panel-body table-responsive">
        <table class="table table-hover table-striped table-bordered" id="{{ table.id }}">
            <thead>
                {% block tableHead %}
                    <tr>
                        {% block tableHeadMassActionsColumn %}
                            {{ block('parent_tableHeadMassActionsColumn') }}
                        {% endblock %}
                        {% block tableHeadStdColumns %}
                            {% for column in table.columns %}
                                {% include "KilikTableBundle::_columnName.html.twig" %}
                            {% endfor %}
                        {% endblock tableHeadStdColumns %}
                    </tr>
                    {% if table.columns|length > 0 %}
                        <tr>
                            {% block tableFilterMassActionsColumn %}
                                {{ block('parent_tableFilterMassActionsColumn') }}
                            {% endblock %}
                            {% block tableHeadStdFilters %}
                                {% for column in table.columns %}
                                    {% include "KilikTableBundle::_columnFilter.html.twig" %}
                                {% endfor %}
                            {% endblock tableHeadStdFilters %}
                        </tr>
                    {% endif %}
                {% endblock tableHead %}
            </thead>
            <tbody id="{{ table.bodyId }}">
                {% block tableBody %}
                    {% if tableRenderBody is defined %}
                        {% for row in rows %}
                            <tr>
                                {% block tableBodyMassActionsColumn %}
                                    {{ block('parent_tableBodyMassActionsColumn') }}
                                {% endblock %}
                                {% block tableBodyStdColumns %}
                                    {% for column in table.columns %}
                                        {% include "KilikTableBundle::_columnCell.html.twig" %}
                                    {% endfor %}
                                {% endblock tableBodyStdColumns %}
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endblock tableBody %}
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        {% block tableStats %}
            <div id="{{ table.id }}_stats">
                {% block tableStatsAjax %}
                    {% include "KilikTableBundle::_stats.html.twig" %}
                {% endblock tableStatsAjax %}
            </div>
        {% endblock tableStats %}
    </div>
</div>
{% block tableAfterPanel %}
{% endblock tableAfterPanel %}
{{ form_end(table.formView) }}
{% block javascript %}
    {% if table.massActions %}
        <script type="text/javascript">
            function kilik_{{ table.id }}_check_all(ref, name) {
                var form = ref;
                while (form.parentNode && form.nodeName.toLowerCase() != 'form') {
                    form = form.parentNode;
                }

                var elements = form.getElementsByTagName('input');
                for (var i = 0; i < elements.length; i++) {
                    if (elements[i].type == 'checkbox' && elements[i].name == name) {
                        elements[i].checked = ref.checked;
                    }
                }
            }

            document.addEventListener("DOMContentLoaded", function() {
                var form = document.querySelector('form[name={{ table.id }}_form]');
                {% for massAction in table.massActions -%}
                var btn = document.querySelector('#kilik_{{ table.id }}_btn_mass_{{ massAction.name  }}_selected');
                var table = document.querySelector('#{{ table.id }}');
                btn.onclick = function () {
                    {% if massAction.action != '' %}
                    form.setAttribute("action", "{{ massAction.action }}");
                    form.submit();
                    {% else %}
                    var checkboxes = document.getElementsByName('kilik_{{ table.id }}_selected[]'),
                        elsChecked = [], event, eventDetails;
                    for (var i=0; i<checkboxes.length; i++) {
                        if (checkboxes[i].checked) {
                            elsChecked.push(checkboxes[i].value);
                        }
                    }
                    eventDetails = { 'checked': elsChecked, 'action' : '{{ massAction.name }}' };
                    event = new CustomEvent(
                        'massAction',
                        { 'detail': eventDetails }
                    );
                    table.dispatchEvent(event);
                    {% endif %}
                };
                {% endfor %}
            });
        </script>
    {% endif %}
{% endblock %}
