{# KilikTableBundle::_defaultTable.html.twig #}

{# @param Kilik\Components\Table table #}
{{ form_start(table.formView) }}
{% block tableBeforePanel %}
{% endblock tableBeforePanel %}
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">
            {% block tablePagination %}
                <div id="{{ table.id }}_pagination" class="btn-group">
                    {% block tablePaginationAjax %}
                        {% include "KilikTableBundle::_paginationNumbersIcons.html.twig" %}
                    {% endblock tablePaginationAjax %}
                </div>
            {% endblock tablePagination %}
            {% block tableTitle %}
                Default title
            {% endblock tableTitle %}
        </div>
    </div>
    <div class="panel-body table-responsive">
        <table class="table table-hover table-striped table-bordered" id="{{ table.id }}">
            <thead>
                {% block tableHead %}
                    <tr>
                        {% if table.massActions %}
                            <th class="mass-action">
                                <div class="input-group btn-group">
                                    <span class="input-group-addon">
                                        <input type="checkbox" id="kilik_{{ table.id }}_mass_check" onclick="kilik_{{ table.id }}_check_all(this, 'kilik_{{ table.id }}_selected[]');"/>
                                        <label for="checkAll"></label>
                                    </span>
                                    <button type="button" class="btn dropdown-toggle table-action-hide" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        {% for massAction in table.massActions %}
                                            <li>
                                                <a href="#" id="kilik_{{ table.id }}_btn_mass_{{ massAction.name  }}_selected" class="btn-border-success checkbox-action">
                                                    <b class="success"><i class="{{ massAction.class }}"></i> {{ massAction.label|capitalize }}</b>
                                                </a>
                                            </li>
                                            {% if loop.last == false %}
                                                <li role="separator" class="divider"></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </th>
                        {% endif %}
                        {% block tableHeadStdColumns %}
                            {% for column in table.columns %}
                                {% include "KilikTableBundle::_columnName.html.twig" %}
                            {% endfor %}
                        {% endblock tableHeadStdColumns %}
                    </tr>
                    {% if table.columns|length > 0 %}
                        <tr>
                            {% if table.massActions %}<td class="mass-action"></td>{% endif %}
                            {% block tableHeadStdFilters %}
                                {% for column in table.columns %}
                                    {% include "KilikTableBundle::_columnFilter.html.twig" %}
                                {% endfor %}
                            {% endblock tableHeadStdFilters %}
                        </tr>
                    {% endif %}
                {% endblock tableHead %}
            </thead>
            <tbody id="{{ table.bodyId }}">
                {% block tableBody %}
                    {% if tableRenderBody is defined %}
                        {% for row in rows %}
                            <tr>
                                {% if table.massActions %}
                                    <td class="mass-action">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" id="checkbox-{{ row.object.id }}" name="kilik_{{ table.id }}_selected[]" value="{{ row.object.id }}"/>
                                                <label for="checkbox-{{ row.object.id }}"></label>
                                            </span>
                                        </div>
                                    </td>
                                {% endif %}
                                {% block tableBodyStdColumns %}
                                    {% for column in table.columns %}
                                        {% include "KilikTableBundle::_columnCell.html.twig" %}
                                    {% endfor %}
                                {% endblock tableBodyStdColumns %}
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endblock tableBody %}
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        {% block tableStats %}
            <div id="{{ table.id }}_stats">
                {% block tableStatsAjax %}
                    {% include "KilikTableBundle::_stats.html.twig" %}
                {% endblock tableStatsAjax %}
            </div>
        {% endblock tableStats %}
    </div>
</div>
{% block tableAfterPanel %}
{% endblock tableAfterPanel %}
{{ form_end(table.formView) }}
{% block javascript %}
    {% if table.massActions %}
        <script type="text/javascript">
            function kilik_{{ table.id }}_check_all(ref, name) {
                var form = ref;
                while (form.parentNode && form.nodeName.toLowerCase() != 'form') {
                    form = form.parentNode;
                }

                var elements = form.getElementsByTagName('input');
                for (var i = 0; i < elements.length; i++) {
                    if (elements[i].type == 'checkbox' && elements[i].name == name) {
                        elements[i].checked = ref.checked;
                    }
                }
            }

            document.addEventListener("DOMContentLoaded", function() {
                var form = document.querySelector('form[name={{ table.id }}_form]');
                {% for massAction in table.massActions -%}
                var btn = document.querySelector('#kilik_{{ table.id }}_btn_mass_{{ massAction.name  }}_selected');
                var table = document.querySelector('#{{ table.id }}');
                btn.onclick = function () {
                    {% if massAction.action != '' %}
                    form.setAttribute("action", "{{ massAction.action }}");
                    form.submit();
                    {% else %}
                    var checkboxes = document.getElementsByName('kilik_{{ table.id }}_selected[]'),
                        elsChecked = [], event, eventDetails;
                    for (var i=0; i<checkboxes.length; i++) {
                        if (checkboxes[i].checked) {
                            elsChecked.push(checkboxes[i].value);
                        }
                    }
                    eventDetails = { 'checked': elsChecked, 'action' : '{{ massAction.name }}' };
                    event = new CustomEvent(
                        'massAction',
                        { 'detail': eventDetails }
                    );
                    table.dispatchEvent(event);
                    {% endif %}
                };
                {% endfor %}
            });
        </script>
    {% endif %}
{% endblock %}
