{# src/KilikTableBundle/Resources/views/_pagination.html.twig #}
<div id="{{ table.id }}_pagination" class="btn-group">
    <a href="#" id="{{ table.id }}_pagination_start" class="btn btn-default"><span class="glyphicon glyphicon-fast-backward"></span></a>
    <a href="#" id="{{ table.id }}_pagination_previous" class="btn btn-default"><span class="glyphicon glyphicon-backward"></span></a>
    <a href="#" id="{{ table.id }}_pagination_next" class="btn btn-default"><span class="glyphicon glyphicon-forward"></span></a>
    <a href="#" id="{{ table.id }}_pagination_end" class="btn btn-default"><span class="glyphicon glyphicon-fast-forward"></span></a>
</div>