{# KilikTableBundle::_setup.html.twig #}

<span class="dropdown">
    <button class="btn btn-primary dropdown-toggle" id="{{ table.id }}_setup" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-cog"></span> {{ "kiliktable.setup" |trans }}</button>
    <ul class="dropdown-menu" aria-labelledby="{{ table.id }}_setup">
        {% for column in table.columns %}
            <li>
                <a>
                    <input type="checkbox" data-column="{{ column.name }}" class="input"></input> {{ column.label | trans }}
                </a>
            </li>
        {% endfor %}
    </ul>                
</span>
