{{ "{% extends 'KilikTableBundle::layout.html.twig' %}" }}

{{ "{% block body %}" }}
<section class="container">
    <div class="row">
        <div class="sm-12">
            {{ "{% embed \"" ~ bundle ~ ":" ~ controller_dir }}:_list.html.twig" with {"table": table} %}
            {{ "{% block tableTitle %}" }}
            <b>My Custom List</b>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" id="btnExportCsv"><span class="glyphicon glyphicon-floppy-save"></span> Export as CSV</a></li>
            </ul>
            {{ "{% endblock tableTitle %}" }}
            {{ "{% endembed %}" }}
        </div>
    </div>
</section>
{{ "{% endblock body %}" }}

{{ "{% block javascript %}" }}
<script type="text/javascript">
    $(document).ready(function () {
        var table = new KilikTable("{{ "{{ table.id }}" }}", "{{ "{{ table.path }}" }}", JSON.parse('{{ "{{ table.options | json_encode |raw }}" }}'));
        table.init();
        // callback after list reload
        table.afterReload = function () {
            // add here events after table rows loaded
        };
        // export data (@todo)
        $("#btnExportCsv").click(function () {
            $("form[name=" + table.getFormName() + "]").attr("action", "{{ "{{ path(\"" ~ route ~ "_export" ~ "\") }}" }}").submit();
        });
    });
</script>

{{ "{% endblock javascript %}" }}
